.userListWrap {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    .ulWrap {
        position: absolute;
        color: #000;
        border: 0;
        background-color: #ffffffee;
        right: 0;
        text-decoration: none;
        list-style-type: none;
        padding: 16px;
        margin: 0;
        width: 150px;
        font-size: 16px;
        border-radius: 8px 0 8px 8px;
        li {
            font-weight: 600;
            padding: 6px;
        }
        li:hover {
            background-color: #cccccc87;
        }
    }
}
