.bgScreen {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.closeScreen {
  display: none;
}

.modalBlock {
  padding: 16px;
  background-color: #fff;
  color: #000;
  max-width: 90%;
  min-width: 300px;
  border-radius: 8px;
  max-height: 85vh;
  overflow: auto;
}

.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.closeButton {
  cursor: pointer;
}

