.ItemDisplaySectionContainer{
  max-width: 1080px;
}



.itemInfoWrapper {
  padding: 8px;
  display: grid;
  grid-template-columns: auto 36px;
  height: 100%;
}

.swiperContainer {
  position: relative;
}

.itemEditWrap {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 999;
}

.itemEdit {
  position: relative;
  cursor: pointer;
}

.itemEditIcon {
  padding: 6px;
  border-radius: 16px;
  background-color: #ffffff75;
}

.dropDown {
  position: absolute;
  top: 20px;
  right: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100px;
  z-index: 999;
  background-color: #fff;
  border: 1px solid #c2c2c287;
  border-radius: 0 0 8px 8px;
  li {
      text-align: center;
      padding: 4px 8px;
      cursor: pointer;
      border-bottom: 1px solid #c2c2c287;
  }
  li:hover {
      background-color: #bdbdbdc0;
      border-radius: 8px; 
  }
}

.swipWrap {
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  h4 {
      background-color: #ffffff80;
      color: #000;
      padding: 8px
  }
}

.itemTitle {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 4px;
  text-align: left;
}

.itemDescription {
  text-align: left;
}

.itemTitleSpan {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.priceWrapper {
  margin-bottom: 4px;
  text-align: left;
}

.priceText {
  font-size: 12px;
}

.typeText {
  font-size: 10px;
  font-style: italic;
}

.starIcon {
  color: yellow;
  stroke: black;
  stroke-width: 10;
}

.heartIcon {
  color: rgb(224, 45, 0);
  stroke: black;
  stroke-width: 10;
}