.userFormWrap {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
}

.imageUploadBlock {
    min-height: 100px;
    p {
        font-size: 18px;
        font-weight: 600;
        text-align: left;
        margin: 0 0 8px 0;
    }
}

.userFormTitle {
    font-size: 16px;
    font-weight: 600;
}

.initInputWrap {
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: repeat( 1, minmax(200px, 1fr) );
    @media only screen and (min-width: 540px) {
        grid-template-columns: 50% 50%;
    }
}

.addresBlock {
    display: flex;
    flex-direction: column;
}

.addresInputWrap {
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: repeat( 1, minmax(200px, 1fr) );
    :first-child {
        grid-column: 1 / -1;
      }
    @media only screen and (min-width: 540px) {
        grid-template-columns: repeat(3, 1fr);
    
    }
}

.buttonWrapper {
    display: flex;
    justify-content: flex-end;
}

